{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}

    <h1>My Calculator</h1>
     {% if error %}
         <div class="alert alert-danger error" role="alert">
             {{ error }}
        </div>
      {% endif %}
  <div class="mb-3 row">

<form action="/calculator" method="POST">
        <label for="valuea">Value 1:</label><br>
        <input type="text" id="valuea" name="valuea" value="1"><br>
        <label for="valueb">Value 2:</label><br>
        <input type="text" id="valueb" name="valueb" value="2"><br>
        <fieldset>
        <legend>Operation</legend>
          <div>
            <input type="radio" name="operation" id="add_number" value="add_number" checked>
            <label for="add_number">addition</label>
          </div>
          <div>
            <input type="radio" name="operation" id="subtract_number" value="subtract_number">
            <label for="subtract_number">subtraction</label>
          </div>
          <div>
            <input type="radio" name="operation" id="multiply_numbers" value="multiply_numbers">
            <label for="multiply_numbers">multiplication</label>
          </div>
            <div>
            <input type="radio" name="operation" id="divide_numbers" value="divide_numbers">
            <label for="divide_numbers">Division</label>
          </div>
        </fieldset>

        <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}
